@(account : Account, message : String = "", form : Form[SearchModel] = SearchForm.searchForm)(implicit messages : Messages)

@main("Account") {
	<p>ADMIN</p>
	@helper.form(action = routes.Admin.doAccountSearch()){
		@helper.select(field = form("searchField"), options = Seq(("fName","First Name"),("lName","Surname"),("email","Email Address"),("accNo","Account Number")),'_label -> null)
		@helper.inputText(form("searchCriteria"),'_label -> null)
		<input type="submit" value="Search"/>
	}
	@buttons()
}