@(account : Account, message : String = "", form : Form[DetailsChangeModel] = SettingsForm.detailsChangeForm)(implicit messages : Messages)
@main("Settings"){
    @helper.form(action = routes.Settings.doDetailsChange){
        <h4>Details Change</h4>
        @errorCheck(message)
        <p>First Name</p>
        @helper.inputText(form("fName"),'_label -> null, 'class -> "form-control")
        <p>Surname</p>
        @helper.inputText(form("lName"),'_label -> null, 'class -> "form-control")
        <input type="submit" value="Submit Change" class="btn btn-default"/>
    }
}