@(account : Account, message : String) 

@main("Account") {
	<p>ADMIN</p>
	<table>
		<td>
			<p>@message</p>
		</td>
	</table>
	<form action=@routes.Admin.showAddAccount() method="post">
		<input type="submit" value="Add Account"/>
	</form>
	<form action=@routes.Admin.showAccountSearch() method="post">
		<input type="submit" value="Account Search">
	</form>
	<form action=@routes.Transfer.showTransfer method="post">
		<input type="submit" value="Transfer">
	</form>
	<form action=@routes.Transactions.showTransactions method="post">
		<input type="submit" value="Show Transactions">
	</form>
	@buttons()
}