@(account : Account, message : String) 

@main("Account") {
	
	<table>
		<td>
			<p>@message</p>
		</td>
		
	</table>
	<form action="showWithdraw" method="post">
		<input type="submit" value="Withdraw"/>
	</form>
	<form action="showDeposit" method="post">
		<input type="submit" value="Deposit">
	</form>
	<form action="showTransfer" method="post">
		<input type="submit" value="Transfer">
	</form>
	<form action="showTransactions" method="post">
		<input type="submit" value="Show Transactions">
	</form>
}