@(account : Account, message : String) 

@main("Account") {
	
	<table>
		<td>
			<p>@message</p>
		</td>
	</table>
	<form action=@routes.Withdraw.showWithdraw() method="post">
		<input type="submit" value="Withdraw"/>
	</form>
	<form action=@routes.Deposit.showDeposit() method="post">
		<input type="submit" value="Deposit">
	</form>
	<form action=@routes.Transfer.showTransfer() method="post">
		<input type="submit" value="Transfer">
	</form>
	<form action=@routes.Transactions.showTransactions() method="post">
		<input type="submit" value="Show Transactions">
	</form>
	@buttons()
}