@(account : Account, message : String = "", tranSer : services.TransactionService = new services.TransactionService())

@main("Home") {
	<table>
		<td>
			<h4 class="text-success">@message</h4>
		</td>
	</table>
	<p> Account Number: @account.accNo</p>
	<p>Current Balance: @account.balance</p>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
			<th>Previous Transactions</th>
			</thead>
			<tbody>
			@for(transaction <- account.getLastTrans){
			<tr>
				<td>
					<p>@tranSer.reform(transaction)</p>
				</td>
			</tr>
			}
			</tbody>
		</table>
	</div>
}