@(error : String)
@main("Log In"){
	<div class="surround">
		<form action="doLogin" method="post">
			@errorCheck(error)
			<div>
				<input type="text" name="email" placeholder="Email Address"  class="input"/> 
			</div>
			<div>
				<input type="password" name="password" placeholder="Password"  class="input"/> 
			</div>
			<div>
				<input type="submit" value="Log In" class="submit">
			</div>
		</form>
		<form action="showRegister" method="post">
			<div>
				<input type="submit" value="Register" class="submit">
			</div>
		</form>
	</div>
}