@(title : String)(content: Html)
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<title>@title</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="showHome">IT WORKS! :D</a>
				</div>

				<div>
					<div class="collapse navbar-collapse" id="myNavbar">
						@if(!(title.equals("Log In") || title.equals("Register"))){
							<ul class="nav navbar-nav">
								<li><a href="showHome">Home</a></li>
								<li><a href="showDeposit">Deposit</a></li>
								<li><a href="showWithdraw">Withdraw</a></li>
								<li><a href="showTransfer">Transfer</a></li>
								<li><a href="showTransactions">Transactions</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li><a href="signOut">SignOut</a></li>
							</ul>
						}else{
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/">Login</a></li>
								<li><a href="showRegister">Register</a></li>
							</ul>
						}
					</div>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<h3>Fixed Navbar</h3>
			@content
		</div>
	</body>
</html>