@(account : Account, message : String = "", form : Form[PasswordChangeModel] = SettingsForm.passwordChangeForm)(implicit messages : Messages)
@main("Settings"){
    @helper.form(action = routes.Settings.doPasswordChange){
        <h4>Password Change</h4>
        @errorCheck(message)
        <p>Old Password</p>
        @helper.inputText(form("oldPassword"),'_label -> null, 'class -> "form-control")
        <p>New Password</p>
        @helper.inputText(form("newPassword"),'_label -> null, 'class -> "form-control")
        <p>Confirm Password</p>
        @helper.inputText(form("confPassword"),'_label -> null, 'class -> "form-control")
        <input type="submit" value="Submit Change"/>
    }
}