@(error : String = "", form : Form[RegisterModel1] = RegisterForm.registerForm1)(implicit messages : Messages)
@main("Register"){
	@helper.form(action = routes.Register.doRegister()){
		@errorCheck(error)
		@helper.inputText(field = form("fName"),'_label -> null, 'class -> "form-control")
		@helper.inputText(field = form("lName"),'_label -> null, 'class -> "form-control")
		@helper.inputText(field = form("email"),'_label -> null, 'class -> "form-control")
		@helper.inputPassword(field = form("password"),'_label -> null, 'class -> "form-control")
		@helper.inputPassword(field = form("confirmPassword"),'_label -> null, 'class -> "form-control")
		<input type="submit" value="Proceed" class="btn btn-default"/>
	}
}