@(account : Account, error : String = "", form : Form[TransactionData2] = TransactionData.transactionData2)(implicit messages : Messages)
@main("Transfer"){
	@helper.form(action = routes.Transfer.doTransfer()){
		<p>Balance: @account.balance</p>
		@errorCheck(error)
		<p>Please enter the account you wish to send money to.</p>
		@helper.inputText(form("accNoTo"),'_label -> null)
		<p>Please enter the amount you wish to transfer</p>
		@helper.inputText(form("amount"),'_label -> null)
		<input type="submit" value="Proceed" />
	}
	@buttons
}